@import 'src/styles/base/variables.scss';

.lock-screen {
  flex: 1;
  overflow: auto;
  padding: 16px;
  background-color: $silver-200;

  &__container {
    height: 100%;
    padding: 16px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    padding-left: 6px;
    font-size: 24px;
    line-height: 1.1;

    &--header {
      padding: 0;
      font-size: 30px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
  }

  &__link {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #23527c;
      text-decoration: underline;
    }
  }
}

.lock-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  &__text {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  &__button {
    display: block;
    background: #fff;
    border-color: $silver-200;
    margin: 0;
    padding: 4px 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    color: #788b99;
    font-weight: 700;

    &:hover,
    &:focus {
      box-shadow: 0 0 2px rgb(120 139 153 / 80%);
    }
  }
}
