.page-main {
  display: flex;
  flex-grow: 1;
  height: 500px;

  &--authorization {
    display: flex;
    width: 100%;
    padding: 15px;
    background: url('../../assets/images/background-login.jpg') no-repeat center
      center;
    overflow-y: scroll;
  }
}
