@import 'src/styles/base/variables.scss';

.form-container {
  align-self: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 8px;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  &--registration {
    margin-top: 120px;
  }

  &__header {
    margin-bottom: 48px;
  }

  &__title,
  &__subtitle {
    margin: 0;
    text-align: center;
    color: $silver-100;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.25;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}
