@import 'src/styles/base/variables.scss';

.input {
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #eff1f3;
  padding: 10px 12px 10px 37px;
  font-size: 16px;
  line-height: 1.13;
  color: $silver-100;

  &--profile,
  &--select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    transition: all 0.2s;
  }

  &--area {
    min-height: 110px;
    resize: none;
    border-radius: 4px;
    padding: 14px 16px;
    font-family: inherit;
  }

  &::placeholder {
    color: $silver-200;
    opacity: 1;
  }
}

.input:focus {
  outline: none;
  background-color: #fff;
  border: solid 1px #48bbff;

  &::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
