@import 'src/styles/base/variables.scss';
@import 'src/styles/base/mixins.scss';

.profile-events {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 67px;
  }

  &__data {
    flex-grow: 1;
    display: flex;
    max-height: 100%;
  }
}

.list-view {
  @include clear-list;

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__link {
    display: block;
    padding: 16px;
    color: #333;

    &:hover,
    &:focus {
      background-color: $silver-200;
      color: #ffffff;
    }

    &--active {
      background-color: $silver-200;
      color: #ffffff !important;
    }
  }

  &__date {
    display: inline-block;
    font-size: 12px;
    color: inherit;
    font-weight: 400;
  }

  &__type-event {
    display: block;
    margin: 3px 0;
    color: inherit;
    font-size: 12px;
  }

  &__vs {
    display: block;
    color: inherit;
  }

  &__title {
    display: block;
    color: inherit;
  }
}

.side-bar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.side-bar,
.tabs {
  width: 200px;
  padding: 15px;
}

.status {
  @include pos-absolute(10px, 10px, auto, auto);
}

.event-tabs {
  display: flex;
  flex-grow: 1;
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  &__tab-list {
    @include clear-list;

    width: 200px;
    padding: 16px;
  }

  &__tab-event {
    padding: 16px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &--selected {
      background-color: $silver-200;
      color: #ffffff !important;
    }
  }

  &__content {
    display: none;
    height: 100%;
    padding: 16px;
    flex-grow: 1;
    background-color: $silver-200;
    overflow-y: scroll;

    &--selected {
      display: block;
    }
  }

  &__content-chart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    section {
      width: 49%;
    }
  }
}
