@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/variables.scss';

.profile {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 16px;
  color: $silver-200;

  &__container-image {
    width: 32px;
    height: 32px;
  }

  &__button-menu {
    position: relative;
    padding: 7px 25px 7px 18px;
    margin-left: 5px;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
    border-style: none;
    color: inherit;

    &::after {
      @include pos-absolute(50%, 10px, auto, auto);

      content: url('../../assets/images/icon-arrow-down.svg');
      transform: translateY(-50%);
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
      background: #eee;
    }
  }
}

.profile-dropdown-menu {
  @include clear-list;
  @include pos-absolute(100%, -5px, auto, auto);

  min-width: 178px;
  padding: 8px 0;
  margin-top: 12px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #ebebeb;
  flex-direction: column;
  color: $silver-200;
  z-index: 3;

  &__link {
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    color: inherit;

    &:hover,
    &:focus {
      background-color: rgba(72, 187, 255, 0.1);
      color: $silver-200;
    }
  }
}
