@import 'src/styles/base/variables.scss';

.form-container {
  &__info-text {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}

.form-registration {
  &__input-group {
    position: relative;
    margin-bottom: 15px;
  }

  &__role {
    margin-bottom: 20px;
  }

  &__text-error {
    display: inline-block;
    margin-top: 8px;
    color: $color-red;
  }
}

.role {
  &__label {
    display: block;
    width: 50%;
    padding: 15px 5px 17px;
    border: solid 1px $color-green;
    color: $color-green;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;

    &:first-of-type {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  input[type='radio']:checked + &__label {
    position: relative;
    background-color: $color-green;
    color: #ffffff;
  }

  input[type='radio']:hover + &__label,
  input[type='radio']:focus + &__label {
    background-color: $color-green;
    color: #ffffff;
  }

  &__input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__description {
    padding: 16px;
    margin-bottom: 16px;
    background-color: $blue-100;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
  }

  &__description-title {
    margin: 0;
    margin-bottom: 21px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
  }

  &__description-text {
    margin: 0;
    line-height: 18px;
  }
}

.sign-in {
  text-align: center;
  font-size: 16px;
  color: $silver-100;

  &__link {
    text-decoration: underline;
    color: $blue-100;
  }
}
