@import 'src/styles/base/variables.scss';
@import 'src/styles/base/mixins.scss';

.user-profile-form {
  &__container-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  &__info {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 16px;
    color: $color-red;
  }
}

.form-block {
  margin-bottom: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &--fio {
      margin-bottom: 20px;
    }

    .form-block__input-group {
      width: 48%;
      margin-bottom: 0;
    }
  }

  &__header {
    position: relative;
    display: flex;
    margin-bottom: 15px;

    &::before {
      @include pos-absolute(11px, 0, auto, 0);

      height: 1px;
      background-color: #e7ebef;
      z-index: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: $silver-400;
    display: inline-block;
    z-index: 1;
    background-color: #ffffff;
    padding-right: 12px;
  }

  &__input-group {
    position: relative;
    margin: 0;
    margin-bottom: 10px;

    &--avatar {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__text-error {
    display: inline-block;
    margin-top: 8px;
    color: $color-red;
  }
}

.input-label {
  @include pos-absolute(50%, auto, auto, 16px);

  color: $silver-200;
  font-size: 16px;
  transition: 0.3s ease;
  transform: translateY(-50%);

  &--select {
    pointer-events: none;
  }

  &--photo {
    position: relative;
    left: auto;
    font-size: 14px;
  }
}

.input + .input-label {
  visibility: hidden;
}

.input + .input-label--select {
  visibility: visible;
}

.input:focus + .input-label {
  transform: scale(0.8);
  top: 0;
  left: 0;
  visibility: visible;
}

.input--area:focus + .input-label {
  transform: scale(0.6);
  top: -5px;
  left: -40px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;

  .button {
    width: 48%;
  }
}

.input-select-container {
  width: 100%;
  min-height: 40px;
}

.input-select {
  &__control {
    background-color: #eff1f3 !important;
    padding-left: 5px;
    border: 1px solid transparent !important;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.13;
    color: $silver-200;
    outline: none;
    transition: all 0.2s;

    &:hover,
    &:focus {
      border: solid 1px #48bbff !important;
    }

    &--is-focused {
      border: solid 1px #48bbff !important;
      box-shadow: none !important;
    }
  }

  &__placeholder {
    color: $silver-200 !important;
    font-weight: 400 !important;
  }

  &__single-value {
    color: $silver-200 !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__menu {
    z-index: 2 !important;
  }

  &__option {
    color: $silver-200 !important;

    &--is-selected {
      background-color: rgba(72, 187, 255, 0.1) !important;
    }
  }
}

.input-select--is-focused + .input-select__placeholder {
  transform: translate(-17px, -21px) scale(0.8) !important;
  visibility: visible !important;
}
