@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/variables.scss';

.dashboard {
  display: flex;
  width: 100%;

  @media (max-width: 700px) {
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  &__report {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: $silver-200;
    padding: 15px;
  }
}

.user-favorite-lists {
  @include clear-list;

  &__item {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  &__link {
    display: block;
    padding: 16px;
    color: #333;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #ffffff;
      border-radius: 5px;
      background-color: $silver-200;
    }
  }
}
