@import 'src/styles/base/variables.scss';
@import 'src/styles/base/mixins.scss';

.network {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    font-size: 24px;
    line-height: 1.25;
    color: $silver-100;
    font-weight: 400;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &--show {
      margin-left: 20px;
    }
  }

  &__available-players {
    margin-top: -40px;
  }

  &__input-search {
    width: 100%;
  }
}

.available-players {
  position: relative;

  &__title {
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    color: $silver-400;
  }
}

.input-search {
  &__container {
    position: relative;
    margin-left: auto;
    max-width: 130px;

    &--network {
      margin-top: 30px;
    }

    &::before {
      @include pos-absolute(5px, auto, auto, 5px);

      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('../../assets/images/icon-search.svg') no-repeat center
        center;
      z-index: 2;
    }
  }

  &__input {
    position: relative;
    width: 100%;
    padding: 5px 5px 5px 24px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #788b99;
    border: none;
    outline: none;
    border-bottom: 1px solid $blue-100;
    z-index: 1;
  }
}

.pagination {
  position: sticky;
  bottom: 0;
  display: flex !important;
  justify-content: center;
  margin-top: auto;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #414f5a;
  border: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 2px;
  background-color: #f7f8f9;
}

.page-link:focus {
  box-shadow: none;
}

.page-item.active .page-link {
  background-color: $blue-100 !important;
}
