@import 'src/styles/base/variables.scss';

.form-container {
  &__forgot {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    font-size: 16px;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $blue-300;
    }
  }
}

.sign-up {
  text-align: center;
  font-size: 16px;
  color: $silver-100;

  &__link {
    text-decoration: underline;
    color: $blue-100;
  }
}

.form-auth {
  &__input-group {
    position: relative;
    margin: 0;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text-error {
    display: inline-block;
    margin-top: 8px;
    color: $color-red;

    &--request {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}
