@import 'src/styles/base/variables.scss';

.session-pitching {
  &__table {
    margin-top: 15px;
  }

  &__text {
    display: inline-block;
    color: $silver-200;
    text-align: center;
    vertical-align: middle;
    min-height: 420px;
  }
}
