@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/variables.scss';


.dropdown-list {
  @include clear-list;
  @include pos-absolute(100%, -5px, auto, auto);

  padding: 8px 0;
  margin-top: 12px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #ebebeb;
  flex-direction: column;
  color: $silver-200;

  &__link {
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
    text-align: left;

    &:hover,
    &:focus {
      background-color: rgba(72, 187, 255, 0.1);
      color: $silver-200;
    }
  }
}
