@import 'src/styles/base/variables.scss';

.user-profile {
  display: flex;
  width: 100%;

  @media (max-width: 700px) {
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  &__report {
    flex-grow: 1;
    padding: 15px;
    background-color: $silver-200;
    overflow-y: scroll;
  }

  &__report-card {
    min-height: 450px;
  }

  &__loading,
  &__error-loading {
    align-self: center;
    margin: 0 auto;
  }
}

.batting-reports {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  &__text {
    color: $silver-200;
  }
}
