@import 'src/styles/base/variables.scss';

.button {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 19px 10px 18px;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  border: solid 1px transparent;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0);
  background-color: $blue-100;
  outline: none;

  &--auth {
    padding-top: 15px;
    padding-bottom: 17px;
  }

  &:hover {
    box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0.8);
    border: solid 1px transparent;
  }

  &:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px transparent;
  }

  &:disabled {
    background-color: #75a4bf;
  }

  &--transparent {
    border: solid 1px #d1d7db;
    background-color: #ffffff;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0);
    color: $silver-300;

    &:hover,
    &:focus {
      box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0.8);
      border: solid 1px $blue-100;
      color: $blue-100;
    }

    &:active {
      border: solid 1px $blue-100;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0);
    }
  }
}
