@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/variables.scss';

.pitcher-summary {
  margin-bottom: 30px;
}

.pitcher-summary-list {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    min-width: 130px;
    color: $silver-100;

    span {
      display: inline-block;

      &:last-of-type {
        margin-left: auto;
      }
    }

    &-value {
      font-weight: 700;
    }
  }
}

.progress {
  width: 100%;
  margin-top: 10px;
  height: 4px !important;
}

.progress-line > svg {
  display: block;
}
