@import 'src/styles/base/variables.scss';

.filter-dropdown {
  position: relative;

  span {
    display: inline-block;

    &:first-child {
      margin-right: 5px;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    line-height: 1.19;
    color: $blue-100;
    white-space: nowrap;
    cursor: pointer;
  }
}
