@import 'src/styles/base/variables.scss';

.card {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: $silver-400;
  }
}
