@import 'src/styles/base/variables.scss';
@import 'src/styles/base/mixins.scss';

.profile-data {
  position: relative;
  display: flex;
  flex-direction: column;

  &__button-edit,
  &__button-favorite {
    @include pos-absolute(12px, 13px, auto, auto);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 0;
    box-shadow: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
  }

  &__container-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  &__fio,
  &__position-game {
    align-self: center;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: $silver-200;
  }

  &__position-game {
    &:last-of-type {
      border-top: 1px solid #cbcccd;
    }
  }

  &__fio {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: $silver-400;
  }
}

.personal-info {
  width: 100%;
  border-collapse: collapse;
  border: none;

  &__icon {
    display: block;
    margin: 0 auto;
  }

  &__coll {
    padding: 15px 0;

    &--icon {
      min-width: 20px;
    }

    &--name-value {
      width: 65%;
      padding-left: 16px;
    }

    &--value {
      width: 25%;
      text-align: right;
    }
  }
}

.school-info {
  &__header,
  &__text {
    display: inline-block;
    width: 100%;
  }

  &__header {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: $silver-100;
  }

  &__text {
    margin: 0;
    color: $silver-100;
  }
}

.about-info {
  &__header {
    position: relative;
    display: flex;
    margin-bottom: 5px;

    &::before {
      @include pos-absolute(11px, 0, auto, 0);

      height: 1px;
      background-color: #e7ebef;
      z-index: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: $silver-400;
    display: inline-block;
    z-index: 1;
    background-color: #ffffff;
    padding-right: 12px;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    color: $silver-200;
  }
}
