@import 'src/styles/base/variables.scss';

.session-reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  &__title {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    line-height: 1.25;
    color: $silver-400;
    font-weight: 400;
  }

  &__table {
    width: 100%;
    margin-top: 15px;
  }
}

.session-filters-form {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;

  &__group {
    font-size: 16px;
    line-height: 1.19;
    color: $blue-100;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__label {
    margin: 0;
  }

  &__button {
    padding: 0;
    font-size: 16px;
    line-height: 1.19;
    color: $blue-100;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__label {
    cursor: pointer;
  }

  &__calendar {
    left: -55% !important;
  }
}
