@import 'src/styles/base/variables.scss';

.comparison {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__table-container {
    width: 100%;
    margin-top: 15px;
  }

  &__table {
    margin-top: 15px;
  }
}

.user-comparison {
  width: 50%;
  font-size: 16px;
  line-height: 19px;
  color: $silver-400;

  &__header {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }

  &__image {
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
    width: 40px;
    height: 40px;
  }

  &__name {
    margin: 0;
    color: $silver-200;
  }

  &__filter {
    display: flex;
    align-items: center;
  }

  &__filter-input {
    display: inline-block;
    width: 120px;
    padding: 5px 5px 7px 0;
    margin-right: 5px;
    font-size: 14px;
    line-height: 16px;
    min-height: 38px;
    font-weight: 400;
    color: $silver-200;
    transition: width 0.5s;
    border: none;
    cursor: pointer;

    &::placeholder {
      color: $blue-100;
      opacity: 1;
    }

    &:focus {
      width: 180px;
      padding-bottom: 6px;
      border-bottom: 1px solid $blue-100;
      outline: none;

      &::placeholder {
        color: $silver-200;
      }
    }
  }
}

.user-profile-form {
  width: 100%;

  &__input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.user-data-table {
  margin-top: 10px;

  &__coll {
    padding: 10px 0;
    padding-right: 5px;
  }
}
