@import 'src/styles/base/variables.scss';

.player-log {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &__total-text {
    margin: 0;
    font-size: 18px;
    color: $silver-200;
    font-weight: 400;
  }
}

.player-log-table {
  &__th {
    display: flex;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }
}

.table-data {

  &__header--log {
    width: 14%;
  }

  &__coll--log {
    width: 14%;
  }
}
