@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/variables.scss';
@import 'src/styles/base/breakpoints.scss';

.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  min-height: 53px;
  border-bottom: 1px solid rgba(0,0,0,.1);

  &__logo {
    @include for-phone-only {
      margin: 0 auto;
    }
  }

  &__nav {
    @include for-phone-only {
      margin: 10px auto;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    @include for-phone-only {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.main-nav {
  @include for-phone-only {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

.nav-lists {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__link {
    position: relative;
    padding: 0 8px;
    color: $silver-200;
    font-size: 16px;

    &:hover,
    &:focus {
      color: $silver-200;

      &::before {
        @include pos-absolute(auto, auto, -18px, 0);

        width: 100%;
        height: 4px;
        background-color: rgba(120,139,153,.4);
      }
    }

    &--active {
      &::before {
        background-color: $silver-200;
      }
    }
  }
}
