@import 'src/styles/base/variables.scss';
@import 'src/styles/base/mixins.scss';

.leaderboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  overflow-y: scroll;

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    margin-right: 15px;
    font-size: 24px;
    line-height: 1.25;
    color: $silver-100;
    font-weight: 400;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__tabs {
    margin-top: -55px;
    display: block;
    width: 100%;
  }
}

.react-tabs {
  position: relative;

  &__filter {
    @include pos-absolute(10px, 0, auto, auto);
  }

  &__tab-list {
    border: none;
  }

  &__tab {
    padding: 8px;
    margin: 8px;
    border: 1px solid #788b99;
    border-radius: 40px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: $silver-100;

    &--selected {
      color: #ffffff;
      background-color: $silver-100;
    }

    ul {
      display: none;
    }

    &:hover {
      ul {
        margin-top: 0;
        display: block;
        z-index: 3;
      }
    }
  }

  &__tab-panel {
    margin-top: 36px;
  }
}

.form-filters {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  &__select-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }
}
