@import 'src/styles/base/variables.scss';

.table-summary {
  &__table-group {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 1.25;
    color: $silver-400;
  }
}
