@import 'src/styles/base/variables.scss';

.empty-data-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  color: $silver-100;
  font-size: 16px;
}
