@import '../../styles/base/mixins.scss';
@import '../../styles/base/breakpoints.scss';

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  padding: 8px;
}

.copyright {
  margin-right: 5px;

  @include for-phone-only {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    order: 2;
  }
}

.info-data {
  @include for-phone-only {
    margin: 0 auto;
    margin-top: 5px;
    order: 3;
  }
}

.copyright__text {
  margin: 0;
}

.info-data__link {
  padding: 8px;
}

.social {
  margin-left: auto;

  @include for-phone-only {
    display: block;
    margin-top: 5px;
    margin-right: auto;
    order: 1;
  }
}

.social-list {
  @include clear-list;

  display: flex;
}

.social-list__link {
  padding: 8px;
}
