@import 'src/styles/base/variables.scss';
@import 'src/styles/base/mixins.scss';

.filter-input {
  display: flex;
  align-items: center;
  margin: 0 5px;

  &__input {
    display: inline-block;
    width: 45px;
    padding: 5px 5px 7px 0;
    margin-right: 5px;
    font-size: 14px;
    line-height: 19px;
    min-height: 38px;
    font-weight: 400;
    color: $silver-200;
    transition: width 0.5s;
    border: none;
    cursor: pointer;

    &::placeholder {
      color: $blue-100;
      opacity: 1;
    }

    &:focus {
      width: 100px;
      padding-bottom: 6px;
      border-bottom: 1px solid $blue-100;
      outline: none;
    }

    &:focus + span {
      transform: rotate(180deg);
    }
  }

  span {
    display: inline-block;
    cursor: pointer;
  }
}
