@import 'src/styles/base/variables.scss';

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 15px;
  text-align: center;

  &__container {
    max-width: 400px;
  }

  &__icon {
    width: 52px !important;
    height: 47px;
  }

  &__header {
    margin: 16px 0;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
    color: $silver-100;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    color: $silver-100;
  }
}
