@import 'src/styles/base/variables.scss';

.table-data {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 3px;

  &__header {
    padding: 15px 0 !important;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    border: none !important;
    color: $silver-100;
    vertical-align: middle !important;
    text-align: left;
  }

  &__row {
    border-radius: 4px;
    background-color: #f7f8f9;
    cursor: pointer;
    color: $silver-400;

    &:hover {
      background-color: #ecf8ff;
    }
  }

  &__coll {
    border: none !important;
    border: solid 1px transparent !important;
    border-style: solid none;
    padding: 10px 4px;

    &:first-child {
      border-left-style: solid;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      border-right-style: solid;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }

    &--link {
      color: $silver-400 !important;

      &:hover,
      &:focus {
        color: $blue-100 !important;
        text-decoration: underline;
      }
    }
  }
}
