@import 'src/styles/base/variables.scss';

.table-log {
  &__title {
    font-size: 16px;
    line-height: 1.25;
    color: $silver-400;
  }
}

.tab-log-filters {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  flex-wrap: wrap;
}
