@import 'src/styles/base/mixins.scss';
@import 'src/styles/base/variables.scss';

.recent-events-lists {
  @include clear-list;

  display: flex;
  margin-top: 10px;

  &__item {
    padding: 26px 20px 18px 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #eff1f3;
    cursor: pointer;

    &:hover {
      border-color: $blue-100;
    }
  }

  &__link {
    display: block;
  }
}

.events-user-lists {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  &__link {
    display: block;
    height: 100%;
    border-radius: 50%;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px $blue-100;
    }
  }
}

.report {
  position: relative;
  box-sizing: border-box !important;
  width: 36% !important;
  min-width: 200px;
  max-width: 220px;

  &__type {
    @include pos-absolute(5px, auto, auto, 5px);

    border: 1px solid #a0a0a0;
    border-radius: 3px;
    padding: 0 5px;

    span {
      font-size: 12px;
      color: $silver-400;
    }
  }

  &__lock {
    @include pos-absolute(10px, 10px, auto, auto);
  }

  &__date {
    position: relative;
    display: flex;
    margin-bottom: 6px;

    &::before {
      @include pos-absolute(7px, auto, auto, -20px);

      content: url('../../assets/images/icon-calendar.svg');
    }
  }

  &__day,
  &__month {
    color: $silver-400;
    font-weight: 300;
  }

  &__day {
    margin-right: 4px;
    font-size: 50px;
    line-height: 0.92;
  }

  &__month {
    font-size: 19px;
    line-height: 1.25;
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
  }

  &__info {
    color: $silver-200;
    font-size: 14px;
    line-height: 17px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50% !important;
  background-color: $blue-100 !important;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0);


  &:hover,
  &:focus {
    box-shadow: 0 0 4px 0 rgba(72, 187, 255, 0.8);
    border: solid 1px $blue-100;
    color: $blue-100;
  }

  &:active {
    border: solid 1px $blue-100;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0);
  }

  &::after {
    color: #ffffff;
    transform: scale(0.4);
  }
}

.swiper-button-prev {
  &::after {
    transform: translateX(-2px) scale(0.4);
  }
}
