.page-not-found {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__title {
    display: inline-block;
    margin: 0;
    order: 2;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  &__img {
    width: 75px;
    height: 75px;
    display: inline-block;
    background-image: url("../../assets/images/ball.svg");
    background-size: cover;
  }

  &__text {
    display: inline-block;
    font-size: 100px;
  }
}
