body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: $font-family;
  color: $silver-300;
  font-weight: 400;
  overflow: unset;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #337ab7;

  &:hover,
  &:focus {
    color: #337ab7;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.display-none {
  display: none;
}

.display-show {
  display: block;
}

.visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
