@mixin pos-absolute($top: 0, $right: auto, $bottom: auto, $left: 0) {
  position: absolute;
  content: "";
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
