$font-family: 'Lato', sans-serif;
$silver-100: #667784;
$silver-200: #788b99;
$silver-400: #414f5a;
$silver-300: #333;
$blue-100: #48bbff;
$blue-200: #337ab7;
$blue-300: #23527c;
$color-green: #35c32a;
$color-red: #f05f62;
